<div class="card m-b-10">
    <div class="card-body p-0">
        <div class="row">
            <div class="col-md-12" style="text-align: left;">
                @*<a class="btn btn-info" href="javascript:void(0)" id="btnAddBuoiHoc" data-toggle="modal" data-target="#Modal1">Thêm buổi học</a>*@
                <a class="btn btn-info" href="javascript:void(0)" id="miSelect4" onclick="javascript:void(0)" data-toggle="modal" data-target="#Modal4">Xem số buổi trong tuần</a>
            </div>
        </div>
    </div>
</div>
@*<div class="card text-right">
        <button id="" class="btn btn-info" onclick="javascript:void(0)" data-toggle="modal" data-target="">Thêm buổi vào tuần</button>
    </div>*@
@*Modal 4*@
<div class="modal fade" id="Modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xem số buổi trong tuần</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" id="rowTest">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<div id="bodyCard">
</div>