@{
    ViewBag.Title = "Server gặp lỗi";
}

<div class="main-wrapper">
    <div class="error-box">
        <div class="error-body text-center">
            <h1 class="error-title text-danger">500</h1>
            <h3 class="text-uppercase error-subtitle">CÓ LỖI TRÊN SERVER!</h3>
            <p class="text-muted m-t-30 m-b-30">CÓ VẺ NHƯ SERVER ĐANG GẶP LỖI</p>
            <a onclick="backPage()" href="javascript:void(0)" class="btn btn-danger btn-rounded waves-effect waves-light m-b-40">Quay trở lại</a>
        </div>
    </div>
</div>
<script>
    function backPage() {
        window.history.back();
    }
</script>