
#wrapper {
    position: relative;
}

#content {
    background: none repeat scroll 0 0 #eeeeee;
    margin-left: 220px;
    margin-right: 0;
    padding-bottom: 25px;
    position: relative;
    min-height: 100%;
    width: 100%;
}

.branch {
    position: relative;
    margin-right: 220px;
}

    .branch:before {
        content: "";
        width: 50px;
        border-top: 2px solid #333;
        position: absolute;
        right: -100px;
        top: 50%;
        margin-top: 1px;
    }

.branch1 {
	position: relative;
	margin-right: 180px;
}

	.branch1:before {
		content: "";
		width: 50px;
		border-top: 2px solid #333;
		position: absolute;
		right: -53px;
		top: 50%;
		margin-top: 1px;
	}

.branch2 {
	position: relative;
	margin-right: 180px;
}

	.branch2:before {
		content: "";
		width: 50px;
		border-top: 2px solid #333;
		position: absolute;
		right: -41px;
		top: 50%;
		margin-top: 1px;
	}

.branch3 {
	position: relative;
	margin-right: 178px;
}

	.branch3:before {
		content: "";
		border-top: 2px solid #333;
		position: absolute;
		right: -90px;
		top: 50%;
		margin-top: 1px;
	}

.branch4,  .branch6 {
	position: relative;
	margin-right: 220px;
}

	.branch4:before {
		content: "";
		width: 50px;
		border-top: 2px solid #333;
		position: absolute;
		right: -90px;
		top: 50%;
		margin-top: 1px;
	}
.branch5 {
	position: relative;
	margin-right: 180px;
}

.branch7 {
	position: relative;
	margin-right: 178px;
}

	.branch7:before {
		content: "";
		border-top: 2px solid #333;
		position: absolute;
		right: -90px;
		top: 50%;
		margin-top: 1px;
	}

	.entry {
		position: relative;
		min-height: 90px;
	}

    .entry:before {
        content: "";
        height: 100%;
        border-right: 2px solid #333;
        position: absolute;
        right: -50px;
    }

    .entry:after {
        content: "";
        width: 50px;
        border-top: 2px solid #333;
        position: absolute;
        right: -50px;
        top: 50%;
        margin-top: 1px;
    }

    .entry:first-child:before {
        width: 8px;
        height: 50%;
        top: 50%;
        margin-top: 2px;
        border-radius: 0 10px 0 0;
    }

    .entry:first-child:after {
        height: 8px;
        border-radius: 0 10px 0 0;
    }

    .entry:last-child:before {
        width: 8px;
        height: 50%;
        border-radius: 0 0 10px 0;
    }

    .entry:last-child:after {
        height: 8px;
        border-top: none;
        border-bottom: 2px solid #333;
        border-radius: 0 0 10px 0;
        margin-top: -9px;
    }

    .entry.sole:before {
        display: none;
    }

    .entry.sole:after {
        width: 50px;
        height: 0;
        margin-top: 1px;
        border-radius: 0;
    }



.entry1 {
	position: relative;
	min-height: 72px;
}

	.entry1:before {
		content: "";
		height: 100%;
		border-right: 2px solid #333;
		position: absolute;
		right: -50px;
	}

	.entry1:after {
		content: "";
		width: 50px;
		border-top: 2px solid #333;
		position: absolute;
		right: -50px;
		top: 50%;
		margin-top: 1px;
	}

	.entry1.sole:before {
		display: none;
	}

	.entry1.sole:after {
		width: 50px;
		height: 0;
		margin-top: 1px;
		border-radius: 0;
	}
.labelframe1{
	display: block;
	min-width: 130px;
	width: 80px;
	padding: 5px 10px;
	line-height: 20px;
	text-align: center;
	border: 2px solid #333;
	border-radius: 5px;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -40px;
	color: #666;
	background-color: #fff;
}
.labelframe2, .labelframe8, .labelframe9, .labelframe10, .labelframe11, .labelframe12, .labelframe13, .labelframe14, .labelframe15, .labelframe16, .labelframe17 {
	display: block;
	min-width: 130px;
	width: 80px;
	padding: 5px 10px;
	line-height: 20px;
	text-align: center;
	border: 2px solid #333;
	border-radius: 5px;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -25px;
	color: #666;
	background-color: #fff;
}
.labelframe3, .labelframe4, .labelframe5, .labelframe6, .labelframe7 {
	display: block;
	min-width: 130px;
	width: 80px;
	padding: 5px 10px;
	line-height: 20px;
	text-align: center;
	border: 2px solid #333;
	border-radius: 5px;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -17px;
	color: #666;
	background-color: #fff;
}

#ver1{
	top: -19.8%;
	left: 90%;
	height: 110%;
	margin-bottom: 100px;
	position: absolute;
}

#ver2 {
	top: -19.8%;
	left: 55.5%;
	height: 110%;
	margin-left: 250px;
	margin-bottom: 100px;
	position: absolute;
}

#ver3 {
	top: -19.8%;
	left: 57%;
	height: 110%;
	margin-left: 25px;
	margin-bottom: 100px;
	position: absolute;
}
#ver4 {
	top: -19.8%;
	left: 47.5%;
	height: 110%;
	margin-bottom: 100px;
	position: absolute;
}
#ver5 {
	top: -19.8%;
	left: 35%;
	height: 110%;
	margin-bottom: 100px;
	position: absolute;
}
#ver6 {
	top: -19.8%;
	left: -13.5%;
	height: 110%;
	margin-left: 500px;
	margin-bottom: 100px;
	position: absolute;
}

@media(min-width: 1000px ) and (max-width: 1200px){
	#wrapper {
		position: relative;
	}

	#content {
		background: none repeat scroll 0 0 #eeeeee;
		margin-left: 220px;
		margin-right: 0;
		padding-bottom: 25px;
		position: relative;
		min-height: 100%;
		width: 100%;
	}
	.branch {
		position: relative;
		margin-right: 220px;
	}

		.branch:before {
			content: "";
			width: 50px;
			border-top: 2px solid #333;
			position: absolute;
			right: -100px;
			top: 50%;
			margin-top: 1px;
		}

	.branch1 {
		position: relative;
		margin-right: 116px;
	}

		.branch1:before {
			content: "";
			width: 4px;
			border-top: 2px solid #333;
			position: absolute;
			right: -166px;
			top: 50%;
			margin-top: 1px;
		}

	.branch2 {
		position: relative;
		margin-right: 140px;
	}

		.branch2:before {
			content: "";
			border-top: 2px solid #333;
			position: absolute;
			right: -11px;
			top: 50%;
			margin-top: 1px;
		}

	.branch3 {
		position: relative;
		margin-right: 119px;
	}

		.branch3:before {
			content: "";
			border-top: 2px solid #333;
			position: absolute;
			right: -90px;
			top: 50%;
			margin-top: 1px;
		}

	.branch4, .branch6 {
		position: relative;
		margin-right: 168px;
	}

		.branch4:before {
			content: "";
			width: 16px;
			border-top: 2px solid #333;
			position: absolute;
			right: -63px;
			top: 50%;
			margin-top: 1px;
		}

	.branch5 {
		position: relative;
		margin-right: 168px;
	}
	.branch5:before {
		content: "";
		width: 32px;
		border-top: 2px solid #333;
		position: absolute;
		right: -39px;
		top: 50%;
		margin-top: 1px;
	}
	.branch7 {
		position: relative;
		margin-right: 178px;
	}
		.branch7:before {
			content: "";
			width: 36px;
			border-top: 2px solid #333;
			position: absolute;
			right: -48px;
			top: 50%;
			margin-top: 1px;
		}

	.entry {
		position: relative;
		min-height: 90px;
	}

		.entry:before {
			content: "";
			height: 100%;
			border-right: 2px solid #333;
			position: absolute;
			right: -50px;
		}

		.entry:after {
			content: "";
			width: 25px;
			border-top: 2px solid #333;
			position: absolute;
			right: -50px;
			top: 50%;
			margin-top: 1px;
		}

		.entry:first-child:before {
			width: 8px;
			height: 50%;
			top: 50%;
			margin-top: 2px;
			border-radius: 0 10px 0 0;
		}

		.entry:first-child:after {
			height: 8px;
			border-radius: 0 10px 0 0;
			width: 25px
		}

		.entry:last-child:before {
			width: 8px;
			height: 50%;
			border-radius: 0 0 10px 0;
		}

		.entry:last-child:after {
			height: 8px;
			border-top: none;
			border-bottom: 2px solid #333;
			border-radius: 0 0 10px 0;
			margin-top: -9px;
		}

		.entry.sole:before {
			display: none;
		}

		.entry.sole:after {
			width: 14px;
			margin-right: 37px;
			height: 0;
			margin-top: 1px;
			border-radius: 0;
		}



	.entry1 {
		position: relative;
		min-height: 72px;
	}

		.entry1:before {
			content: "";
			height: 100%;
			border-right: 2px solid #333;
			position: absolute;
			right: -50px;
		}

		.entry1:after {
			content: "";
			width: 50px;
			border-top: 2px solid #333;
			position: absolute;
			right: -50px;
			top: 50%;
			margin-top: 1px;
		}

		.entry1.sole:before {
			display: none;
		}

		.entry1.sole:after {
			width: 50px;
			height: 0;
			margin-top: 1px;
			border-radius: 0;
		}

	.labelframe1 {
		display: block;
		min-width: 130px;
		width: 80px;
		padding: 5px 10px;
		line-height: 20px;
		text-align: center;
		border: 2px solid #333;
		border-radius: 5px;
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -40px;
		color: #666;
		background-color: #fff;
	}

	.labelframe2, .labelframe8 {
		display: block;
		min-width: 130px;
		width: 80px;
		padding: 5px 10px;
		line-height: 20px;
		text-align: center;
		border: 2px solid #333;
		border-radius: 5px;
		position: absolute;
		right: -25px;
		top: 50%;
		margin-top: -25px;
		color: #666;
		background-color: #fff;
	}

	.labelframe10, .labelframe11 {
		display: block;
		min-width: 130px;
		width: 80px;
		padding: 5px 10px;
		line-height: 20px;
		text-align: center;
		border: 2px solid #333;
		border-radius: 5px;
		position: absolute;
		right: -1px;
		top: 58%;
		margin-top: -25px;
		color: #666;
		background-color: #fff;
	}

	.labelframe4, .labelframe5, .labelframe6, .labelframe7 {
		display: block;
		min-width: 130px;
		width: 80px;
		padding: 5px 10px;
		line-height: 20px;
		text-align: center;
		border: 2px solid #333;
		border-radius: 5px;
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -17px;
		color: #666;
		background-color: #fff;
	}
	.labelframe3 {
		display: block;
		min-width: 130px;
		width: 80px;
		padding: 5px 10px;
		line-height: 20px;
		text-align: center;
		border: 2px solid #333;
		border-radius: 5px;
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -17px;
		color: #666;
		background-color: #fff;
	}
	.labelframe12 {
		display: block;
		min-width: 130px;
		width: 80px;
		padding: 5px 10px;
		line-height: 20px;
		text-align: center;
		border: 2px solid #333;
		border-radius: 5px;
		position: absolute;
		right: -25px;
		top: 50%;
		margin-top: -17px;
		color: #666;
		background-color: #fff;
	}

	.labelframe13, .labelframe14, .labelframe15, .labelframe16, .labelframe17, .labelframe9 {
		display: block;
		min-width: 130px;
		width: 80px;
		padding: 5px 10px;
		line-height: 20px;
		text-align: center;
		border: 2px solid #333;
		border-radius: 5px;
		position: absolute;
		right: -25px;
		top: 50%;
		margin-top: -17px;
		color: #666;
		background-color: #fff;
	}

	#ver1 {
		position: relative;
		top: -19.8%;
		left: 86%;
		height: 110%;
		margin-bottom: 100px;
		position: absolute;
	}

	#ver2 {
		position: relative;
		top: -19.8%;
		left: 46.8%;
		height: 110%;
		margin-left: 250px;
		margin-bottom: 100px;
		position: absolute;
	}

	#ver3 {
		position: relative;
		top: -19.8%;
		left: 51.5%;
		height: 110%;
		margin-left: 25px;
		margin-bottom: 100px;
		position: absolute;
	}

	#ver4 {
		position: relative;
		top: -19.8%;
		left: 41%;
		height: 110%;
		margin-bottom: 100px;
		position: absolute;
	}

	#ver5 {
		position: relative;
		top: -19.8%;
		left: 29.3%;
		height: 110%;
		margin-bottom: 100px;
		position: absolute;
	}

	#ver6 {
		position: relative;
		top: -19.8%;
		left: -28.2%;
		height: 110%;
		margin-left: 500px;
		margin-bottom: 100px;
		position: absolute;
	}
}
